[submodule "a6s-cloud/gitmodules/RictyDiminished"]
	path = a6s-cloud/gitmodules/RictyDiminished
	url = https://github.com/edihbrandon/RictyDiminished.git
[submodule "a6s-cloud/gitmodules/a6s-cloud-batch"]
	path = a6s-cloud/gitmodules/a6s-cloud-batch
	url = https://github.com/nsuzuki7713/a6s-cloud-batch.git
